table {
  width: 100%;
}
.mat-elevation-z8 {
  background-color: var(--background-color1);
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.description {
  align-items: center;
  text-align: center;
  width: 40%;
}
.name {
  align-items: center;
  text-align: center;
  width: 20%;
}
.price {
  align-items: center;
  text-align: center;
  width: 20%;
}
.category {
  align-items: center;
  text-align: center;
  width: 20%;
}
.action {
  align-items: center;
  text-align: center;
  width: 20%;
}
  