<Toolbar_sportstore-root [countSwitch]="countToToolbar"></Toolbar_sportstore-root>
<div class="bcolor">
<mat-form-field style="background-color: var(--background-color1);">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'Filter' | translate}}">
</mat-form-field>
<mat-form-field style="background-color: var(--background-color1);">
  <mat-label>{{'Category' | translate}}</mat-label>
  <mat-select matNativeControl>
    <mat-option  [value]="" (click)="selectStage('')">{{'All' | translate}}</mat-option>
    <mat-option  *ngFor="let item of categoryArray" [value]="item" (click)="selectStage(item)" translate>
      <span translate>
        {{item}}
      </span>
    </mat-option>
  </mat-select>
</mat-form-field>
      
<div class="mat-elevation-z8">
  <table style="background-color: var(--background-color1);" mat-table [dataSource]="dataSource" matSort>
              
  <!-- name Column -->
    <ng-container matColumnDef="items">
      <th class="items" mat-header-cell *matHeaderCellDef mat-sort-header> {{'Items' | translate}} </th>
      <td class="items" mat-cell *matCellDef="let row">
      <div class="shopping_card_all">  
        <mat-card class="shopping_card">
          <mat-card-content class="flexbox-conteiner">
            <div class="flexbox-child1">
              <img mat-card-image src="https://liketo.ru/upload/iblock/b42/6835.10_3_tif_1000x1000.jpg">
            </div>
            <div class="flexbox-child2">
              <div class="child-header">
                <span>
                  <h3>{{'Name' | translate}}:</h3>
                  {{row.name}}
                </span>
              </div>
            </div>
            <div class="flexbox-child3">
              <div class="child-header1">
                <span>
                  <h4>{{'Category' | translate}}:</h4>
                  <span translate>{{row.category}}</span>
                </span>
              </div>
              <div class="child-header2">
                <span>
                  <h4>{{'Price' | translate}}:</h4>
                  {{row.price}}
                </span>                
              </div>        
              <div>
                <span>
                  <h4>{{'Number' | translate}}:</h4>
                    <input type="number" class="count" [(ngModel)]="row.number" (ngModelChange)="changeCost()">
                  </span>                
                </div>      
              <div class="flexbox-space">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      </td>
    </ng-container>

  <!-- action Column -->
    <ng-container matColumnDef="action">
      <th class="price" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Action' | translate}}
      </th>
      <td class="price" mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="removeItem(row.name)" (click)="changeCost()">
          <mat-icon>
            delete_forever
          </mat-icon>
        </button>
      </td>
    </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
      
  <mat-paginator style="background-color: var(--background-color1);" [pageSizeOptions]="[3, 5, 7]"></mat-paginator>
</div>
<span>
  <h1>Total cost:{{cartCost}}</h1>
</span>
</div>